/*
 * Global styling
 */
body {
  font: 16px/20px sans-serif;
}

#canvasWrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#graphCanvas {
  position: fixed;
  top: 0;
}

.content {
  padding: 15px;
  margin: 5px;
  width: 680px;
}

a:link, a:visited {
  color: #ff0090;
  text-decoration: none;
}
a:link:hover, a:visited:hover {
  color: #af0063;
}

.flex-center {
  display: flex;
  justify-content: center;
}

main {
  min-width: 680px;
  position: relative;
}

.main-content {
  background: #c3c3c3;
  padding: 15px;
  margin: 5px;
}

.inline {
  display: inline;
}

.post {
  margin: 10px 0;
}

/*
 * Styling for post/markdown
 */
.subtitle p {
  display: inline;
  margin: 0;
  padding: 0;
}

.mainTitle {
  margin-bottom: 8px;
}

.date {
  float: right;
}

h1 {
  margin-top: 0;
}

code {
  white-space: pre;
}
