body {
  font: 16px/20px sans-serif;
}

.content {
  background: #c3c3c3;
  padding: 15px;
  max-width: 680px;
  margin: 5px;
}

h1 {
  margin-top: 0;
}

code {
  white-space: pre;
}

a:link {
  color: #ff0090;
  text-decoration: none;
}
a:link:hover {
  color: #af0063;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-center > div {
  flex: 1;
}
