.tab {
  transition: transform 0.4s ease, opacity 0.4s ease;
}
.tab-center {
}
.tab-right {
  transform: translate(150%, 0px);
  opacity: 0;
}
.tab-left {
  opacity: 0;
  transform: translate(-150%, 0px);
}

.tab-control-list {
  padding: 0;
  display: flex;
}
.tab-control {
  background-color: white;
  padding: 10px;
  color: black;
  transition: background-color 0.3s ease-out,
              color 0.3s ease-out;
}
.tab-control:hover {
  background-color: black;
  color: white;
}
.tab-control::after {
  content: '';
  width: 200%;
  left: 0%;
  display: block;
  border-bottom: 2px solid blue;
  position: relative;
  transition: border 1s ease-in,
              width 1s ease-in,
              left 1s ease-in;
}
.tab-control:hover::after {
  left: 100%;
  width: 0%;
  border-bottom: 2px solid red;
}

main {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
