html, body {
  margin: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: rgba(0, 0, 0, .87);
}

section {
  max-width: 912px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; /* For right/left tabs */

  /* Pad left/right so the tabs fly in nicely */
  padding-left: 64px;
  padding-right: 64px;
  padding-top: 24px;
  padding-bottom: 24px;
}

::selection {
  background-color: #ff9800;
  color: white;
}
::-moz-selection {
  background-color: #ff9800;
  color: white;
}

a {
  cursor: pointer;
}
a:link {
  color: #ff9800;
  text-decoration: none;
}
a:visited {
  color: #e65100;
}
a:visited:hover, a:link:hover {
  text-decoration: underline;
}
/* TODO: Use ::after to create expanding underline */
a:visited:active, a:link:active {
  color: #e65100;
  outline: none;
}

h1 {
  font-size: 80px;
  margin: 0;
}

h2 {
  font-size: 40px;
  font-weight: normal;
  margin: 0;
}

/******************/
/* Header section */
/******************/

.page-header-wrapper {
  background-color: #ff9800;
}
.page-header {
  display: flex;
  align-items: flex-end;
  min-height: 450px;
  padding-bottom: 10px;
}
.page-header header {
  flex-grow: 1;
}
.page-header ::selection {
  background-color: #fff;
  color: #ff9800;
}
.page-header ::-moz-selection {
  background-color: #fff;
  color: #ff9800;
}

/*****************/
/* About section */
/*****************/

.about-wrapper {
  background-color:#00bcd4;
}
.about ::selection {
  background-color: #fff;
  color: #00bcd4;
}
.about ::-moz-selection {
  background-color: #fff;
  color: #00bcd4;
}

/*****************/
/* Games section */
/*****************/

.games-wrapper {
  background-color: #eee;
}
.game canvas {
  background-color: grey;
}

/* Tabbed view */
.tab-container {
  position: relative;
  /* Height set in js */
  width: 100%;
}

.tab {
  transition: opacity 0.4s ease-out, transform 0.4s ease-out;
  position: absolute;
}
.tab-right {
  transform: translate(150%, 0px);
}
.tab-left {
  transform: translate(-150%, 0px);
}

.tab-control-list {
  padding: 0;
  font-size: 0px; /* To remove space input by line break */
}
.tab-control-list::after {
  content: "";
  position: relative;
  height: 1px;
  background-color: rgba(0, 0, 0, .26);
  width: 100%;
  display: inline-block;
}
.tab-control {
  padding: 10px 10px 0px 10px;
  font-size: 20px;
  display: inline-block;
  transition: color 0.3s ease-out,
              background-color 0.3s ease-out;
  transition: box-shadow 0.4s ease;
}
.tab-control:hover {
  /* Orange border at bottom */
  box-shadow: 0px 2px 0px #ff9800;
}

.tab-control-highlight {
  height: 2px;
  background-color: #ff9800;
  transition: all 0.4s ease;
  width: 70px;
  left: 0%;
  position: relative;
}
