html, body {
  margin: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: rgba(0, 0, 0, .87);
}

a {
  cursor: pointer;
}

h1 {
  font-size: 80px;
  font-weight: normal;
  margin: 0;
}

h2 {
  font-size: 40px;
  font-weight: normal;
  margin: 0;
}

.tab-container {
  position: relative;
  /* Height set in js */
  width: 100%;
}

.tab {
  transition: opacity 0.4s ease-out, transform 0.4s ease-out;
  position: absolute;
}
.tab-right {
  transform: translate(150%, 0px);
}
.tab-left {
  transform: translate(-150%, 0px);
}

.tab-control-list {
  padding: 0;
  font-size: 0px; /* To remove space input by line break */
}
.tab-control {
  padding: 10px;
  font-size: 20px;
  display: inline-block;
  transition: background-color 0.3s ease-out,
              color 0.3s ease-out;
}

.tab-control-highlight {
  height: 2px;
  background-color: #ff9800;
  transition: all 0.4s ease;
  width: 70px;
  left: 0%;
  top: -10px; /* .tab-control padding */
  position: relative;
}

.game canvas {
  background-color: grey;
}

.header-bar {
  display: flex;
  align-items: flex-end;
  min-height: 300px;
  padding-bottom: 10px;
  background-color: #ff9800;
}
.header-bar header {
  flex-grow: 1;
}
.about {
  background-color:#00bcd4;
}
.games {
  background-color: #eee;
}

.content-wrapper {
  max-width: 912px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; /* For right/left tabs */

  /* Pad so the tabs fly in nicely */
  padding-left: 64px;
  padding-right: 64px;
  padding-top: 24px;
  padding-bottom: 24px;
}
