/*
 * Global styling
 */
body {
  font: 16px/20px sans-serif;
  background-color: rgb(54, 54, 54);
  color: rgb(203, 203, 203);
}

#canvasWrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#graphCanvas {
  position: fixed;
  top: 0;
}

/* A content block (header, blog post, etc) */
.content {
  padding: 15px;
  margin: 5px;
  width: 680px;
  background-color: rgba(41, 41, 41, 0.95);
}

a:link, a:visited {
  color: #bcbaff;
  text-decoration: none;
}

a:link:hover, a:visited:hover {
  color: #bc74ff;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.wrapper {
  position: relative;
}

.nav-menu {
  display: inline;
  margin: 0;
  float: right;
}

.nav-menu li {
  display: inline;
  padding: 20px 20px;
}

.nav-item {
  font-weight: bold;
}

/*
 * Home page specific styling
 */
.post-list {
  margin: 10px 0;
}

.post-list .post-title {
  display: inline;
}

/*
 * Styling for post/markdown
 */
.subtitle p {
  display: inline;
  margin: 0;
  padding: 0;
}

.mainTitle {
  margin-bottom: 8px;
}

.date {
  float: right;
}

h1 {
  margin-top: 0;
}

code {
  white-space: pre;
}
