main {
  background: white;
  margin: 20px 0;
  padding: 10px;
}

main div {
  background: #c3c3c3;
  padding: 15px;
  max-width: 600px;
  margin: 5px;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-center > div {
  flex: 1;
}
